SI2CI_BRANCH: master
GITHUB_TOKEN: "6eed35b557adad2ccd2a"
GITHUB_ORGNAME: "ubsbot"
GITHUB_SSHKEY: |
  -----BEGIN OPENSSH PRIVATE KEY-----
  b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAABFwAAAAdzc2gtcn
  NhAAAAAwEAAQAAAQEA25sUqF5Gz8cT/v7rjMtjqx3FdLzKXKT5g9fpNxaIHy0xC2sYOeRM
  OcasVy2ipWkpezDm0ptNS8hXlG0QtLj8YeqEjVOXvKBbKGQmG4r2lED3V7Gc0WVuO5RYak
  1HAogM9BaFN3oG4Man8ZU0oRjtnF/dZrVjiCwi3PTt+lq3hlKiNEaj/+ugHy5urZTNn7TI
  4Bo6LXFBap0WotXvi98Pt5omwEYOpSrLAVMln3Cx6qBecR8nBVIoLA2SnE7LmVIZvF2pUd
  s+cW4Xw/C+RHcPXDAAAAC2FsZWtzQGx4bnV4AQIDBAUGBw==
  -----END OPENSSH PRIVATE KEY-----
SPRING_INITURL: start.spring.io
PAS_USERNAME: admin
PAS_PASSWORD: Pivotal
PAS_ORGANIZATION: applications
PAS_API: api.run.pivotal.io
PAS_DOMAIN: cfapps.io
CONCOURSE_TARGET: "http://concourse.company.com"
CONCOURSE_USERNAME: pivot
CONCOURSE_PASSWORD: Pivotal
GITHUB_ORGNAME: ubsbot

